{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Vote{% endblock %}

{% block body %}
    <br>
    <h2>Edit Vote</h2>
    <br>

    <table>
        {{ include('vote/_form.html.twig') }}
        {{ include('vote/_delete_form.html.twig') }}
    </table>
    <a href="{{ path('vote_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>

{% endblock %}
