{% extends 'base.html.twig' %}

{% block title %}home page {% endblock %}

{% block body %}
    <br>
    <div class="">
        <h1 class="display-3">How To Vote</h1>
        <p class="lead">All voters must be a member of TU Dublin. All students will be given log in credentials via their
        student email. If you have any issues, please use the contact form provided.</p>
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
