{% extends 'baseUser.html.twig' %}

{% block title %}about page {% endblock %}

{% block body %}
    <br>
    <div class="">
        <h1 class="display-3">About Page</h1>
        <p class="lead">Here is information about us!</p>
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>

        </p>

    </div>

{% endblock %}
