{% extends 'base.html.twig' %}

{% block title %}home page {% endblock %}

{% block body %}
    <br>
    <div class="">
        <h1 class="display-3">Vote Now!</h1>
        <p class="lead">The time is now, TU Dublin's SU voting system is online!</p>
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}
