{% extends 'baseUser.html.twig' %}

    {% block title %}error{% endblock %}

    {% block body %}
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">&nbsp&nbsp Freeze!</h4>
            <p class="mb-0"> &nbsp&nbsp&nbsp&nbspYou are not supposed to be here, so we put you back where you belong! <br>
             &nbsp&nbsp&nbsp   If you believe this is an error, please <a href="{{ path('contact_user') }}" class="alert-link">Contact Us</a>.</p>

        </p>
        </div>

        <br>
        <div class="">
            <h1 class="display-3">Vote Now!</h1>
            <p class="lead">The time is now, TU Dublin's SU voting system is online!</p>
            <p></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
    {% endblock %}