{% extends 'base.html.twig' %}

{% block title %}New ConfirmVote{% endblock %}

{% block body %}
    <h1>Create new ConfirmVote</h1>

    {{ include('confirm_vote/_form.html.twig') }}

    <a href="{{ path('confirm_vote_index') }}">back to list</a>
{% endblock %}
