{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit Contact{% endblock %}

{% block body %}
    <h1>Edit Contact</h1>
    <table>
    {{ include('contact/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('contact/_delete_form.html.twig') }}
    </table>
    <a href="{{ path('contact_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>


{% endblock %}
