{% extends 'baseAdmin.html.twig' %}

{% block title %}Thank You{% endblock %}

{% block body %}
    <br>
    <div class="">
        <h1 class="display-3">Thank You</h1>
        <p class="lead">We have received your message and will reply as soon as possible!</p>
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
{% endblock %}