{% extends 'baseAdmin.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <br>
    <h2>Edit User</h2>
    <br>
    <table>
    {{ include('user/_form.html.twig') }}
    {{ include('user/_delete_form.html.twig') }}
    </table>
    <a href="{{ path('user_index')}}"><button class="btn btn-outline-info btn-lg">{{ button_label| default ('Back') }}</button></a>
{% endblock %}
