{% extends 'baseAdmin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <br>
    <h2>Create new User</h2>
    <br>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}
